.company-logo{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.company-logo-header{
    color: #000000;
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-container{
    display: flex;
    align-items: center;
    gap: 93px;
}

body{
    font-family: Roboto;
}

.nav-list-link{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 61px;
}

.contact-list-link{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.contact-list{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.contact-list-link:hover,.nav-list-link:hover{
    color: #2196F3;
}

.hero{
    background-color: #2F303A;
    padding-top: 200px;    
    padding-bottom: 200px;
    background-image: url("./img/Img\(12\).png");    
}

.hero-title{
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 696px;
    margin-bottom: 30px;
    text-align: center;
}

.hero-btn{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border: none;
    margin: 0 auto;
    display: block;
    width: 216px;
    height: 50px;
    border-radius: 4px;
}

.features{
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list-item::before{
    content: "";
    width: 270px;
    height: 120px;
    background-image: url("./img/Group1.png");
    display: inline-block;
}

.features-list-item:nth-child(2)::before{
    content: "";
    width: 270px;
    height: 120px;
    background-image: url("./img/Group2.png");
    display: inline-block;
}

.features-list-item:nth-child(3)::before{
    content: "";
    width: 270px;
    height: 120px;
    background-image: url("./img/Group3.2.png");
    display: inline-block;
}

.features-list-item:nth-child(4)::before{
    content: "";
    width: 270px;
    height: 120px;
    background-image: url("./img/Group4.png");
    display: inline-block;
}

.features-list-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
}

.features-list{
    list-style: none;
    display: flex;
    gap: 30px;
}

.features-list-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}

.work{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
    padding-bottom: 94px;
}

.work-title{
    text-align: center;
    margin-bottom: 50px;
}

.work-list{
    list-style: none;
    display: flex;
    gap: 30px;
}

.team{
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list{
    display: flex;
    gap: 30px;
}

.team-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;  
    margin-bottom: 50px;
    text-align: center;
}

.team-list-item{
    background-color: #FFFFFF;
    list-style: none;
}

.team-list-item-text{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-list-title{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
}

.team-list-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
    text-align: center;
}

.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.company-logo-footer{
    color: white;
}

.address{
    margin-top: 20px;
}

.address-list{
    list-style: none;
    font-style: normal;
}

.address-list-item:not(:first-child){
    margin-top: 9px;
}

.address-list-link{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF; 
    text-decoration: none; 
}

.address-list-link-mail{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF99;
    text-decoration: none; 
}

.address-list-link-tel{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF99; 
    text-decoration: none;    
}

.filter-list-btn{
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;    
    color: #212121;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;

}

.filter-list-btn:hover{
    background-color: #2196F3;
    color: #FFFFFF;
    transition: 1s;
}

.filter-list{
    list-style: none;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.hero-portfolio-list-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121; 
    margin-top: 20px;
    margin-bottom: 4px; 
}

.hero-portfolio-list-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 20px;  
}

.hero-portfolio-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.container{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.hero-portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}